<div *ngIf="contributedNode" class="flex-container">
    <div class="flex-row">
        <ur-label [label]="'presenter.update-label' | translate" [required]="false" [size]="'large'"></ur-label>
        <ur-label [label]="'&nbsp;'" [required]="false" [size]="'large'"></ur-label>
        <ur-label [label]="ipDisplay()" [required]="false" [size]="'large'"></ur-label>
        <ur-label [label]="':'" [required]="false" [size]="'large'"></ur-label>
        <ur-label [label]="portDisplay()" [required]="false" [size]="'large'"></ur-label>
        <ur-label
            [label]="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'"
            [required]="false" [size]="'large'"></ur-label>
    </div>
    <div>
        <ur-button (handleClick)="saveNode()" [type]="'cta'" class="button" [icon]="'loop'" [size]="'mini'">
            {{'presenter.update-button' | translate}}
        </ur-button>
    </div>

</div>